@import '../../../function.less';
.setting-page{
  padding: .5rem .7rem;
  box-sizing: border-box;
  .email-wrapper{
    .bg-bx();
    font-size: 16px;
    color: #333333;
    clear: both;
    .email-titlebox{
      height: 80px;
      line-height: 80px;
      padding: 0 30px;
      .tips-text{
        font-size: 14px;
        color: #B2B2B2;
        display: inline-block;
        margin-left: 15px;
      }
      .email-btn{
        float: right;
        margin-top: 25px;
        line-height: 30px;
        .email-img{
          width: 60px;
          height: 30px;
          
        }
      }
    }
    .email-content{
      height: 130px;
      border-top: 1px solid #e5e5e5;
      padding: 17px 30px;
      box-sizing: border-box;
      clear: both;
      .email-line{
        .email-text{
          color: #B2B2B2;
          width: 250px;
          display: inline-block;
        }
        .email-input{
          width: 200px;
          height: 30px;
          display: inline-block;
          background: #FFFFFF;
          border: 1px solid #B2B2B2;
          border-radius: 3px;
          padding: 0 5px;
        }
        .email-node{
          font-size: 14px;
          margin-top: 20px;
          a{
            text-decoration: underline;
            cursor: pointer;
          }    
          .orange-text{
            color: #FF7C5C;
          }      
        }
        .red-text{
          color: #E2524D;
        }
        .send-btn{
          float: right;
        }
      }
    }
  }
}